<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
    <add name="redis" connectionString="host=127.0.0.1;db=1;port=6379" />
    <add name="defPackagesWorkingCopyPath" connectionString="%TEMP%\%APPLICATION%\%APPPOOLIDENTITY%\%WORKSPACE%\TerrasoftPackages" />
    <add name="tempDirectoryPath" connectionString="%TEMP%\%APPLICATION%\%APPPOOLIDENTITY%\%WORKSPACE%\" />
    <add name="sourceControlAuthPath" connectionString="%TEMP%\%APPLICATION%\%APPPOOLIDENTITY%\%WORKSPACE%\Svn" />
    <add name="elasticsearchCredentials" connectionString="User=gs-es; Password=DEQpJMfKqUVTWg9wYVgi;" />
    <add name="influx" connectionString="url=http://10.0.7.161:30359; user=; password=; batchIntervalMs=5000" />
    <add name="messageBroker" connectionString="amqp://guest:guest@localhost/BPMonlineSolution" />
    <add name="db" connectionString="Data Source=127.0.0.1;Initial Catalog=dbname;User Id=SA;Password=$Zarelon01$Zarelon01;MultipleActiveResultSets=True;Pooling=true;Max Pool Size=100" />
    <add name="schedulerDb" connectionString="Data Source=localhost;Initial Catalog=work;User Id=SA;Password=$Zarelon01$Zarelon01;MultipleActiveResultSets=True;Pooling=true;Max Pool Size=100" />
</connectionStrings>