<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ATF.Repository" version="1.1.0" targetFramework="net472" />
  <package id="BpmonlineSDK" version="7.14.0.597" targetFramework="net472" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
</packages>