<?xml version="1.0" encoding="utf-8"?>
<sysSettings>
	<sysSetting key="UserSessionTimeout" valueType="int" operation="min" value="10"/>
	<sysSetting key="UserSessionTimeout" valueType="int" operation="max" value="720"/>
	<sysSetting key="QueryExecutionTimeout" valueType="int" operation="min" value="10"/>
	<sysSetting key="QueryExecutionTimeout" valueType="int" operation="max" value="10"/>
	<sysSetting key="PrimaryCulture" valueType="lookup" operation="const" value="{A5420246-0A8E-E111-84A3-00155D054C03}"/>
	<sysSetting key="BulkEmailExpirationPeriod" valueType="int" operation="max" value="10080"/>
	<sysSetting key="BETArchiveFirstGenerationPeriod" valueType="int" operation="min" value="365"/>
	<sysSetting key="BETArchiveSecondGenerationPeriod" valueType="int" operation="min" value="395"/>
	<sysSetting key="S3FilePartSize" valueType="int" operation="min" value="5"/>
	<sysSetting key="S3FilePartSize" valueType="int" operation="max" value="5120"/>
	<sysSetting key="TwoFaRecoveryCodesCountPerUser" valueType="int" operation="min" value="5"/>
	<sysSetting key="TwoFaRecoveryCodesCountPerUser" valueType="int" operation="max" value="15"/>
	<sysSetting key="TwoFaRecoveryCodeLength" valueType="int" operation="min" value="8"/>
	<sysSetting key="TwoFaRecoveryCodeLength" valueType="int" operation="max" value="12"/>
	<sysSetting key="UserNameExpireDays" valueType="int" operation="min" value="0"/>
	<sysSetting key="UserNameExpireDays" valueType="int" operation="max" value="180"/>
</sysSettings>